# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installed dependencies
env/*

# Log files
*.log

.tox/
.coverage

# vi
.*.swp

# pycharm
.idea/

# version data
repo-info

# reports
report/*
htmlcov/*

# Test folders
resources/*
